<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<main class="accomplishment accomplishment-main">

    <div class="wrapper-accomplishment-rendering">
        <div class="accomplishment-rendering">
        <!--    <span class="deco-corner deco-corner-tl"></span>
            <span class="deco-corner deco-corner-tr"></span>
            <span class="deco-corner deco-corner-bl"></span>
            <span class="deco-corner deco-corner-br"></span> -->

            <div class="accomplishment-type">
                
                <span style = "margin-top: 35px; margin-bottom: 8.5%" class="accomplishment-type-symbol">
                  <!--  <img class="src" src="/static/certificates/images/ico-${course_mode_class}.png" alt="Image for course mode of type ${course_mode_class}"> -->
                  <img style="width: 104% !important; max-width: 104% !important;" class="src" src="/static/certificates/images/Robbo-scratch-olympiad.png" alt="Image for course mode of type ${course_mode_class}">
                </span>

                
                
            </div>

            <div class="wrapper-statement-and-signatories-top">
                <div style="margin-left: 16.2% !important; margin-right: 16.2% !important; margin-bottom: 100px;" class="accomplishment-statement-left">

                    <p style = "white-space: pre; width: 100%; max-width: 100%;" class="accomplishment-type-label hd-3-s"> C E R T I F I C A T E  O F  C O M P L E T I O N</p> 

                    <p class="accomplishment-statement-lead"> <!--accomplishment-statement-lead-->
                        <p style = "margin-bottom: 10px !important; text-align: left; line-height: 1.0 !important;" class="accomplishment-summary copy copy-lead-middle">This is to certify that </p> 
                        
                        <strong class="accomplishment-recipient emphasized hd-1-emphasized ">${accomplishment_copy_name}</strong>  <!--${accomplishment_copy_name}-->
                    </p>
                    <p style="margin-left: 28% !important; max-width: 69% !important; border-bottom: 2px dotted gray; margin-bottom: 30px !important;" class="accomplishment-summary copy copy-lead">&nbsp;</p>

                    <p style="line-height: 0 !important; margin-bottom: 25px !important;" class="accomplishment-statement-detail copy copy-lead-middle">has succesfully Scratch Olympiad 2023 expert training course</p> 
                    % if certificate_data:
                        % for signatory in certificate_data.get('signatories', []):
                            % if signatory.get('signature_image_path'):
                                <span class="accomplishment-statement-detail copy copy-lead-middle"> <strong> "Discipline: ${signatory['title']}"  </strong>   </span>
                            % endif
                        % endfor
                    % endif


                </div>
            </div>


            <div class="wrapper-statement-and-signatories">
                
                % if mode != 'base':
                <div class="accomplishment-signatories">
                    <h3 class="accomplishment-signatories-title sr-only">${_("Noted by")}</h3>

                    <div class="wrapper-signatories">
                        <div class="list-signatories">
                            % if certificate_data:
                                % for signatory in certificate_data.get('signatories', []):
                                    % if signatory.get('signature_image_path'):
                                        <div style="justify-content: space-between !important; margin-bottom: -15px !important;" class="signatory">
                                                                                      
                                            <!--<div style = "width: 33.333%" class="metadata accomplishment-id">
                                              <p class="label-hashtag">#ScratchOlympiad 2023:</p>
                                            </div>
                                            <div style = "width: 33.333%" class="metadata accomplishment-id">
                                               !!!!!!!!!!!!!!!!! <img class="signatory-signature" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}"> 
                                                <img class="signatory-signature" src="/static/certificates/images/robbo_sig.png" alt="${signatory['name']}"> 
                                            </div>  <div style = "width: 33.333%" class="metadata accomplishment-id">
                                                <h4 class="signatory-name hd-5">${signatory['name']}</h4>
                                                <p class="signatory-credentials copy copy-micro">
                                                  <span class="role">${signatory['title']}</span>
                                                  <span class="organization">${signatory['organization']}</span>
                                                </p>
                                            </div>-->

                                            
                                            <div style="margin-left: 3% !important;" class = "signatory-name"> 
                                                <h4 class="signatory-name hd-5-middle label-hashtag">#ScratchOlympiad</h4>
                                                <h4 style="text-decoration: underline;" class="signatory-name hd-5-middle label-hashtag">creativeprogramming.org</h4>
                                              </div>
                                            <div class="signatory-simple">

                                                <img style="max-width: 30%; width: 30%;" class="signatory-signature" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}">
                                                <!--<img style="max-width: 30%; width: 30%;" class="signatory-signature" src="/static/certificates/images/podpis_Frolov.png" alt="${signatory['name']}">-->
                                                <!--<h4 class="signatory-name hd-5">${signatory['name']}</h4>-->
                                                <div class = "signatory-name"> 
                                                   <h4 class="signatory-name hd-5-middle name-part">Chairman of the</h4> <!--Председатель-->
                                                   <h4 class="signatory-name hd-5-middle name-part">Organizing Committee</h4> <!--Организационного комитета-->
                                                   <h4 class="signatory-name hd-5-middle-name name-part">Pavel Frolov</h4> <!--Павел Фролов-->
                                                 </div>

                                            </div>
                                            
                                        <!--<p class="signatory-credentials copy copy-micro">
                                            <span class="role">${signatory['title']}</span>
                                            <span class="organization">${signatory['organization']}</span> </p> -->
                                        </div>
                                    % endif
                                % endfor
                            % endif
                        </div>
                    </div>
                </div>
                % endif
            </div>

            <div style="margin-bottom: 0rem !important; margin-top: 0.9rem !important;" class="accomplishment-orgs">
                <h3 class="accomplishment-orgs-title sr-only">${_("Supported by the following organizations")}</h3>

                <ul style="justify-content: space-between !important;" class="wrapper-orgs list-orgs">
                    <!--<li class="wrapper-organization">
                        <div class="organization organization-edX">
                            <img class="organization-logo" src="/static/certificates/images/robbo_logo.svg" alt="${platform_name}">
                        </div>
                    </li>

                    <li class="wrapper-organization">
                        <div class="organization organization-edX">
                            <img class="organization-logo" src="${logo_src}" alt="${platform_name}">
                        </div>
                    </li> -->

                    % if organization_logo:
                    <li class="wrapper-organization">
                        <div class="organization">
                            <!--<img class="organization-logo" src="${organization_logo.url}" alt="${platform_name}">-->
                        </div>
                    </li>
                    % endif
                    
                    <li class="wrapper-organization print-left">
                        <div style="margin-left: 0px !important; padding-left: 30px !important;" class="organization print-left">
                           <img class="organization-logo" src="/static/certificates/images/Robbo-Logo-Eng.png" alt="${platform_name}">
                        </div>
                    </li> 
                    
                    
                    <li class="wrapper-organization">
                        <div class="organization organization-edX">
                           
                        </div>
                    </li> 
                     
                                       
                    <li class="wrapper-organization"> 
                        <div class="organization-right print-right">
                             <span>${certificate_date_issued_title}</span>
                             <span>${certificate_date_issued}</span>   
                        </div>     
                    </li>
                    
                        
                    

                </ul>
            </div>
        </div>
    </div>

    <div class="wrapper-accomplishment-metadata">
        <div class="accomplishment-metadata">
            <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

            <div class="wrapper-metadata">
                <dl class="metadata accomplishment-recipient">
                    <dt class="label sr-only">${_("Awarded to:")}</dt>
                    <dd class="value copy copy-meta">
                        <span class="recipient-img">
                            <img class="src" src="/static/certificates/images/demo-user-profile.png" alt="Recipient Image">
                        </span>
                        <div class="recipient-details">
                            <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                            <p class="recipient-username">${accomplishment_copy_username} @ ${platform_name}</p>
                        </div>
                    </dd>
                </dl>
               <!-- <dl class="metadata accomplishment-id">
                    <dt class="label copy copy-meta">${certificate_id_number_title}:</dt>
                    <dd class="value copy copy-base">${certificate_id_number}</dd>
                </dl> -->
               <!-- <dl class="metadata accomplishment-date">
                    <dt class="label copy copy-meta">${certificate_date_issued_title}</dt>
                    <dd class="value copy copy-base">${certificate_date_issued}</dd>
                </dl> -->
            </div>
        </div>
    </div>

</main>
