<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">

            <div>
               <h2> О Компании </h2> 
Компания РОББО – разработчик и производитель робототехнических EdTech наборов, Санкт-Петербург.
Производственные площадки расположены в Санкт-Петербурге и Финляндии, офисы компании открыты при поддержке правительств в Финляндии и Японии.

Продукция: «РОББО Класс» — это решение для образовательных учреждений включающее в себя набор оборудования, программного обеспечения и методических материалов для подготовки юных инженеров-инноваторов будущего по специальностям: креативное программирование, схемотехника и микроэлектроника, мобильная робототехника, интернет-вещей (IoT) и умный дом, 3D-прототипирование и 3D-печать.
С помощью РОББО обучается 100.000+ детей в школах и кружках 28 стран мира: Россия, Финляндия, Таиланд, Великобритания, США, Испания, Вьетнам, Китай, Казахстан, Беларусь, Украина, Грузия, Таджикистан, Израиль, Германия, Италия, Япония, Латвия, Румыния, Нигерия,  ЮАР, Туркменистан, Бангладеш, Словакия, Норвегия, Австрия, Болгария, Танзания.

На 2022 год продано 150+ франшиз «РОББО Клуб», 470+ инновационных инженерных РОББО Классов, Победитель инвестиционных конкурсов Google RISE Award (Roots in Science and Engineering), Finlanding от финского правительства, технологических проектов Правительства Японии «Fukuoka Startup».

<br>
<br>

<h2> История проекта «РОББО» </h2>

Члены команды РОББО работают в сфере открытого программного и аппаратного
обеспечения для образования с 2000 года.
<p>2006 – Языки Scratch и Arduino были впервые использованы в образовательном проекте (семинары для учеников и учителей). </p>
<p>2008 – Совместная промо-кампания языка Scratch с Intel, получены отзывы учителей. Кроме того, команда РОББО приняла участие в переводе руководства и интерфейса языка программирования на русский язык. </p>
<p>2009 – Команда РОББО работает над проектами по внедрению свободного ПО в
школы России. Компания заключает контракт с издательством “БИНОМ”, который способствует использованию свободного ПО в школьной программе. </p>
<p>2010 – Предлагается идея РОББО в виде двух устройств (Лаборатории и Платформы),
которые призваны помочь детям в изучении робототехники и программирования. </p>
<p>2010 – Проект проходит апробацию в школах Москвы, кроме этого, получены средства от Фонда содействия развитию малых предприятий в научно-технической сфере. </p>
<p>2013 – Методики и аппаратное обеспечение РОББО апробированы для школ Казани. </p>
<p>2013 – На международной олимпиаде “IT планета” РОББО открывает конкурс свободной робототехники “Робофабрика”, в котором участвуют более 900 учеников. </p>
<p>2013-2014 – Проект получает два гранта компании Google в рамках проекта Google Rise Awards. </p>
<p>2014 – Компания побеждает в конкурсе “FinLanding” правительства Финляндии, что открывает финский рынок для РОББО. В том же году РОББО получает премию правительства Санкт-Петербурга за лучший инновационный продукт. </p>
<p>2014 – Разработана версия 2.0 ПО для устройств Android, которая позволяет обучать детей начиная с 5 лет. </p>
<p>2014 –  Методики и аппаратное обеспечение РОББО апробированы для школ Санкт-Петербурга. </p>
<p>2014 – Лаппеенрантский технологический университет (Финляндия) закупил СкретчДуино. </p>
<p>2015 – Проект получил статус резидента Фонда «Сколково» и Технопарка «Санкт-Петербург». </p>
<p>2015 — Разработали и начали выпускать 3D-принтер ROBBO Mini, который предназначен специально для использования детьми.  </p>
<p>2016 — Начало продаж франшизы школ робототехники «РОББО Клуб» </p>
<p>2016 — 40 школ Финляндии закупили «РОББО Классы». </p>
<p>2017 — «РОББО» становится участников Кружкового движения Национальной технологической инициативы. </p>
<p>2017 — Проведена первая Международная Scratch-Олимпиада по креативному программированию. </p>
<p>2019 — Открыт первый заграничный кружок ROBBO Club в Финляндии. </p>
<p>Май 2019 — Победа в конкурсе технологических проектов Правительства Японии «Fukuoka Startup». Образцы продукции успешно протестированы в школах Японии. Компания получила приглашение открыть филиал в Японии.
Октябрь 2019 — Участие в выставке передовых технологий CEATEC-2019 (Япония), где компания заключила предварительные договора о сотрудничестве на 500 тыс. евро. </p>
<p>2020 — Совместный образовательный проект «РОББО», СПбПУ, LUT University и мэрии города Лаппеенранта (Финляндия) стал победителем конкурса в рамках программы трансграничного сотрудничества “Россия — Юго-Восточная Финляндия”. На реализацию проекта выделено 530 тыс. евро. </p>
<p>2020 — Открыт первый кружок ROBBO Club в Таиланде. </p>
<p>Март 2020 — Занятия во всех кружках сети «РОББО Клуб» в России и за границей переведены в онлайн. </p>
<p>Апрель 2020 — Международная сеть кружков ROBBOClub.Ru запускает франшизу онлайн-школ программирования, робототехники и 3D-печати. </p>
<p>Апрель 2020 — Открыты два первых кружка ROBBO Club в Японии (Токио и Фукуока). </p>
<p>Май 2020 — Министерство экономики, торговли и промышленности Японии включило ROBBO Japan в государственную программу субсидирования образовательных услуг «EdTech». Компания сможет получить финансирование на открытие классов робототехники и программирования в японских общеобразовательных школах. </p>
<p>Июнь 2020 — Инновационный инженерный класс «РОББО» для организации уроков технологии в школах стал одним из победителей конкурса «Лучшее отечественное оборудование, средства обучения и воспитания, включая цифровые» и включен в каталог «Рекомендовано для обучения». </p>
<p>Сентябрь 2020 — Открытие первых образовательных центров ROBBO Academy Future Skills (РОББО Академия) в Москве и Петербурге. </p>
<p>Июль 2021 — Компания «РОББО» победила в китайском конкурсе Russia-China Competition 2021 в Нанкине. </p>
<p>2021 - РОББО в каталоге «Комплексное оснащение школ 2021-2024» от Агентства стратегических инициатив (АСИ) и Ассоциации участников рынка артиндустрии (АУРА). 2-ое место в конкурсе на лучшее отечественное учебное оборудование от АСИ и АУРА. </p>
<p>2021 - РОББО занял 3-е место среди всех детских и 1-ое среди робототехнических франшиз по данным независимого исследования портала TopFranshise.ru </p>
<p>2021- РОББО включен в Реестр надежных франшиз Торгово-промышленной Палаты РФ </p>
<p>2022 - Компания РОББО — лауреат конкурса «Экспортер года» </p>
<p>2022 - Основатель РОББО Павел Фролов получил медаль от Министерства науки и Высшего образования Российской Федерации за вклад в реализацию государственной политики в области образования. </p>
<p>2022 - РОББО - резидент инновационного научно-технологического центра (ИНТЦ) «Сириус».  </p>
<p>2022 - РОББО - член Национального союза поставщиков образовательных организаций. </p>




            </div>
            
            </%block>
        </p>
    </section>
</main>
