<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
            
            <div className="row">
                <div className="col-sm-12">
                    <p> <a href="https://www.robbo.world"> https://www.robbo.world </a>  - Official ROBBO website </p>
                    <p> <a href="https://www.robbo.world/support"> https://www.robbo.world/support </a> - ROBBO Support service </p>
                    <p> <a href="https://creativeprogramming.org"> https://creativeprogramming.org </a> -  International Scratch Creative programming Olympiad 2022 </p>
                    <p> <a href="https://discord.com/invite/UP78fg7A"> https://discord.com/invite/UP78fg7A </a> -  ROBBO on Discord </p>
                   
                    <br/>
                    <br/>

                    <div>
                        <span> E-mails: </span>
                        <p> <a href="mailto:support@robbo.world"> support@robbo.world  </a> - Technical Support  </p>
                        <p> <a href="mailto:info@robbo.world"> info@robbo.world  </a> - Support Q&A  </p>
                    </div>

                    <br/>
                    <br/>
                    

                    <p>
                        Phone:
                        +358 40 4187890  
                    </p>
                </div>
              </div>
            
            </%block>
        </p>
    </section>
</main>
