<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>


<%block name="pagetitle">${_("Сведения об организации")}</%block>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${_("Сведения об организации")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
            <div style="padding-bottom:  30px;"> 
                <button class="accordion-info"> Основные сведения</button>
                <div class="panel-org-info">
                  <p>Полное наименование образовательной организации: ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «РОББО ТЕХНОЛОГИИ» <br/> <br/>
                    Сокращенное наименование образовательной организации: ООО «РОББО ТЕХНОЛОГИИ» <br/> <br/>
                    ИНН: 9 729 346 998 <br/> <br/>
                    КПП: 772 901 001 <br/> <br/>
                    ОГРН: 1 237 700 362 723 <br/> <br/>
                    Дата создания организации: 23 мая 2023 г. <br/> <br/>
                    Юридический адрес: 119 607, Город Москва, вн.тер. г. Муниципальный Округ Раменки, б-р Раменский, дом 1 br/> <br/> <br/>
                    Почтовый адрес: 119 607, Город Москва, вн.тер. г. Муниципальный Округ Раменки, б-р Раменский, дом 1 <br/> <br/>
                    Телефон: +7 (812) 565-35-93 <br/> <br/>
                    Адрес электронной почты: info@online.edurobbo.ru <br/> <br/><br/> <br/>
                    
                    Расчетный счет: 40 702 810 632 320 008 192 <br/> <br/>
                    Банк: ФИЛИАЛ «САНКТ-ПЕТЕРБУРГСКИЙ» АО «АЛЬФА-БАНК» <br/> <br/>
                    Корреспондентский счет: 30 101 810 600 000 000 000 <br/> <br/>
                    БИК: 44 030 786 <br/> <br/>
                    ОКВЭД: 72.19 <br/> <br/>
                    ОКПО: 49 014 723 <br/> <br/>
                    ОКАТО/ ОКТМО: 45 268 584 000/ 45 325 000 000 <br/> <br/>
                    Генеральный директор: Фролов Павел Андреевич <br/> <br/> <br/> <br/>
                    
                    График работы: <br/> <br/>
                    Понедельник 10:00 — 19:00 <br/> <br/>
                    Вторник 10:00 — 19:00 <br/> <br/>
                    Среда 10:00 — 19:00 <br/> <br/>
                    Четверг 10:00 — 19:00 <br/> <br/>
                    Пятница 10:00 — 19:00 <br/> <br/>
                  </p>
                </div>
              
                <button class="accordion-info">Структура и органы образовательной организации</button>
                <div class="panel-org-info">
                  <p>Единоличный орган управления: генеральный директор - Фролов Павел Андреевич
                    Место нахождения структурных подразделений: нет</p>
                </div>
              
                <button class="accordion-info">Образование</button>
                <div class="panel-org-info">
                  <p>ООО «РОББО ТЕХНОЛОГИИ» оказывает услуги по реализации образовательной программы дополнительного образования детей и взрослых.
                    <br/> <br/>

                    Учебный процесс осуществляется в течение всего календарного года, обучение ведется на русском языке. Общая продолжительность реализации программы 208 учебных часов (по 45 минут). Каждый год включает по 104 урока из расчета по 2 урока в неделю, 52 недели. Без перерыва.
                    <br/> <br/>

                    Обучение по программе осуществляется в дистанционной форме. Оно включает теоретические и практические части. Для изложения теоретических вопросов используются такие методы работы, как объяснение, беседы, сопровождающиеся демонстрацией видеоматериалов, примеров работы с виртуальными средами. 30 минут на каждом занятии отводится на практические упражнения и самостоятельное выполнение заданий на своем персональном компьютере. Для повторения и закрепления между занятиями по желанию детям предоставляются электронные материалы в LMS системе.
                </p>
                </div>

                <button class="accordion-info">Материально-техническое обеспечение</button>
                <div class="panel-org-info">
                  <p>В ООО «РОББО ТЕХНОЛОГИИ» созданы условия для функционирования электронной информационно-образовательной среды, включающей в себя:
                   
                    <br/> <br/>

                    <ul>

                    <li> электронные информационные ресурсы; </li>
                    <li> электронные образовательные ресурсы; </li>
                    <li> совокупность соответствующих информационных технологий, телекоммуникационных технологий, технологических средств. </li>
                   
                  </ul>
                  <br/> <br/>

                    Дистанционное обучение реализуется на платформе https://online.edurobbo.ru
                    <br/> <br/>

                    Электронная образовательная среда ООО «РОББО ТЕХНОЛОГИИ» обеспечивает освоение обучающимися образовательных программ в полном объеме независимо от их места нахождения. Обучающийся получает полный доступ к электронным материалам курса (текст курса, презентации, методические материалы и т. п.) после оплаты его стоимости.
                    <br/> <br/>

                    Реализация образовательных программ в помещениях ООО «РОББО ТЕХНОЛОГИИ» не предусмотрена, вся образовательная деятельность осуществляется с использованием дистанционных образовательных технологий.</p>
                </div>

                <button class="accordion-info">Вакантные места </button>
                <div class="panel-org-info">
                  <p>В ООО «РОББО ТЕХНОЛОГИИ» прием обучающихся ведется в соответствии с заключаемыми договорами об оказании платных образовательных услуг без ограничений по количеству обучающихся. Квоты и контрольные цифры не установлены.</p>
                </div>


                <button class="accordion-info">Доступная среда </button>
                <div class="panel-org-info">
                  <p>Реализация образовательной программы в помещениях ООО «РОББО ТЕХНОЛОГИИ» не предусмотрена. Вся образовательная деятельность осуществляется с использованием дистанционных образовательных технологий.
                    <br/> <br/>

                    В ООО «РОББО ТЕХНОЛОГИИ» обеспечивается доступ инвалидов и лиц с ограниченными возможностями к информационным системам и электронным образовательным ресурсам на общих основаниях.</p>
                </div>


                <button class="accordion-info">Платные образовательные услуги</button>
                <div class="panel-org-info">
                  <p>ООО «РОББО ТЕХНОЛОГИИ» оказывает платные образовательные услуги по реализации дополнительной общеобразовательной общеразвивающей программы «РОББОтотехника».
                    <br/> <br/>

                    Условия оказания услуг определяются договорами об образовании, заключаемыми между ООО «РОББО ТЕХНОЛОГИИ» и обучающимися (в лице законных представителей) и (или) заказчиками платных образовательных услуг.</p>
                </div>

                <button class="accordion-info">Финансово-хозяйственная деятельность</button>
                <div class="panel-org-info">
                  <p>Финансирование образовательной деятельности, осуществляемой ООО «РОББО ТЕХНОЛОГИИ», за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов — не предусмотрено.</p>
                </div>
                

              </div>

              <div id="rec803121848" class="r t-rec t-rec_pt_0 t-rec_pb_0 r_showed r_anim" style="padding-top:0px;padding-bottom:0px; " data-record-type="43"> <!-- T030 --> <div class="t030"> <div class="t-container t-align_left"> <div class="t-col t-col_10 t-prefix_1"> <div class="t030__title t-title t-title_xxs" field="title">Педагогический состав</div> </div> </div> </div> <style> #rec803121848 .t030__title{font-size:22px;color:#383838;}#rec803121848 .t030__descr{color:#383838;}</style> </div>


              <div id="rec803121849" class="r t-rec t-rec_pt_15 t-rec_pb_0 r_showed r_anim"
              style="padding-top:15px;padding-bottom:0px; " data-record-type="1059">
                <!-- t1059 -->
                <div class="t1059">
                  <div class="t-container">
                    <div class="t-col t-col_10 t-prefix_1">
                      <div class="t1059__row ">
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://drive.google.com/file/d/1eHzi-d_nG2Mao7GVWVvJm_488pYg4eh_/view"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover" style="display: flex">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1726749547975"
                                style="" class="t1059__btn-img t1059__btn-img_md" fill="#000000"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1726749547975" style="font-family:ProximaNova; color:#383838; margin-left: 10px">Сведения о педагогических работниках ООО «РОББО ТЕХНОЛОГИИ»</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div id="rec803121850" class="r t-rec t-rec_pt_30 t-rec_pb_0 r_showed r_anim"
                    style="padding-top:30px;padding-bottom:15px; " data-record-type="43">
                    <!-- T030 -->
                    <div class="t030">
                        <div class="t-container t-align_left">
                        <div class="t-col t-col_10 t-prefix_1">
                            <div class="t030__title t-title t-title_xxs" field="title">Документы</div>
                        </div>
                        </div>
                    </div>
                    <style>
                        #rec803121850 .t030__title {
                        font-size: 22px;
                        color: #383838;
                        }
                        
                        #rec803121850 .t030__descr {
                        color: #383838;
                        }
                    </style>
                </div>


                
                    <div class="t1059__row ">
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://drive.google.com/file/d/1_gmpM-lV-dwFFkEZK0k4oUyte4VqzTUn/view?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1418004108670" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1418004108670" style="font-family:ProximaNova; color:#383838;">Устав ООО “РОББО ТЕХНОЛОГИИ”</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://drive.google.com/file/d/1eRXqELWFWUi_Fst0VX05hniy4YAStAJh/view?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1418004108671" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1418004108671" style="font-family:ProximaNova; color:#383838;">Свидетельство о постановке на учет российской организации в налоговом
                                органе (от 23.05.2023)</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://drive.google.com/file/d/1YWcn3NRObfinTsgd_eBTAvYyr5VgOqzP/view?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1418004108672" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1418004108672" style="font-family:ProximaNova; color:#383838;">Лист записи ЕГРЮЛ о создании юридического лица</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://docs.google.com/document/d/1sRHkt2JxKE8Ym5TXGMxKwScu9EXOO-8Q03EGd2BsUo4/edit?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1728939248599" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1728939248599" style="font-family:ProximaNova; color:#383838;">Образовательная программа “РОББОтотехника”</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://drive.google.com/file/d/1eHzi-d_nG2Mao7GVWVvJm_488pYg4eh_/view"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1728939266400" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1728939266400" style="font-family:ProximaNova; color:#383838;">Сведения о педагогических работниках ООО “РОББО ТЕХНОЛОГИИ”</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://docs.google.com/document/d/1CZUfFYiFgRrJ8LkBa4ZG6BDg7ogMweeEXTHsoiOlrPA/edit?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1728939279103" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1728939279103" style="font-family:ProximaNova; color:#383838;">Правила внутреннего трудового распорядка</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://docs.google.com/document/d/10V9gBXSu9A8XNXicetu-fo7BqBtqBRu3S66u2kq0M_Q/edit?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1728939292553" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1728939292553" style="font-family:ProximaNova; color:#383838;">Правила внутреннего распорядка обучающихся</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://docs.google.com/document/d/1jlPK17BLyB1yTlbb0vL-d8tliQLC77rq0PGrb3uRndU/edit?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1728939301221" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1728939301221" style="font-family:ProximaNova; color:#383838;">Правила приема, обучения, перевода, отчисления и восстановления
                                обучающихся</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                            <div class="t1059__btn-img-wrapper">
                              <svg role="presentation" imgfield="li_img__1728939313722" style=""
                              class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 90 90">
                                <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                              </svg>
                            </div>
                            <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                            field="li_buttontitle__1728939313722" style="font-family:ProximaNova; color:#383838;">Отчеты о результатах самообследования деятельности</div>
                          </div>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://docs.google.com/document/d/1mVCFw0iSAA_qJr-JZMrVbxOzyEICkex7kAkdUQ7JQQo/edit?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1728939331317" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1728939331317" style="font-family:ProximaNova; color:#383838;">Положение о текущем контроле успеваемости и аттестации</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://docs.google.com/document/d/1KX5G-szvYD4ZjnPm_hMVluSLO35N_Y2_A4wNzTyTtUk/edit?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1728939352470" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1728939352470" style="font-family:ProximaNova; color:#383838;">Правила оказания платных образовательных услуг</div>
                            </div>
                          </a>
                        </div>
                        <div class="t1059__btn">
                          <a class="t1059__link" href="https://docs.google.com/document/d/1yNWEl9ze2j81_5DUjnrTeqiO4_e1IDgFEXnFCboZj_w/edit?usp=sharing"
                          target="_blank" style="color:#383838;" rel="noopener">
                            <div class="t1059__link-wrapper t1059__link-wrapper-hover">
                              <div class="t1059__btn-img-wrapper">
                                <svg role="presentation" imgfield="li_img__1728939362532" style=""
                                class="t1059__btn-img t1059__btn-img_md" fill="#000000" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 90 90">
                                  <path d="M90 28H80V16.4L63.6 0H10v28H0v40h10v22h70V68h10V28zM65 8.5l6.5 6.5H65V8.5zM15 5h45v15h15v8H15V5zm60 80H15V68h60v17zm10-22H5V33h80v30z"></path>
                                  <path class="st0" d="M25 53h2.5c4.1 0 7.5-3.4 7.5-7.5S31.6 38 27.5 38h-5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-5zm0-10h2.5c1.4 0 2.5 1.1 2.5 2.5S28.9 48 27.5 48H25v-5zM52.5 50.5v-5c0-4.1-3.4-7.5-7.5-7.5h-7.5v20H45c4.1 0 7.5-3.4 7.5-7.5zm-10-7.5H45c1.4 0 2.5 1.1 2.5 2.5v5c0 1.4-1.1 2.5-2.5 2.5h-2.5V43zM60 50.5h7.5v-5H60V43h10v-5H57.5c-1.4 0-2.5 1.1-2.5 2.5V58h5v-7.5z"></path>
                                </svg>
                              </div>
                              <div class="t1059__btn-text t-descr t-descr_md" data-redactor-notoolbar="yes"
                              field="li_buttontitle__1728939362532" style="font-family:ProximaNova; color:#383838;">План финансово-хозяйственной деятельности</div>
                            </div>
                          </a>
                        </div>
                      </div>

                

                      <div id="rec811464400" class="r t-rec t-rec_pt_15 t-rec_pb_60 r_anim r_showed"
                      style="padding-top:15px;padding-bottom:60px; " data-record-type="106">
                        <!-- T004 -->
                        <div class="t004">
                          <div class="t-container ">
                            <div class="t-col t-col_10 t-prefix_1">
                              <div field="text"  class="t-text t-text_md "><span style="font-weight: 700;"><strong>В&nbsp;ООО&nbsp;«РОББО ТЕХНОЛОГИИ»:</strong></span>
                                <br>
                                <br>
                                <ul>
                                  <li data-list="bullet">отсутствуют заключенные договоры с&nbsp;иностранными и (или)
                                    международными организациями по&nbsp;вопросам образования,
                                    а&nbsp;также образовательные программы, имеющие международную
                                    аккредитацию;</li>
                                  <li data-list="bullet">не&nbsp;осуществляется реализация образовательных программ,
                                    к&nbsp;которым предъявляются требования федеральных государственных
                                    образовательных стандартов;</li>
                                  <li data-list="bullet">не&nbsp;предусмотрены стипендии или иные меры поддержки обучающихся.</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <style>
                          #rec811464400 .t-text {
                            color: #383838;
                          }
                        </style>
                      </div>


              <script>
                document.addEventListener("DOMContentLoaded", function() {
                  var acc = document.getElementsByClassName("accordion-info");
                  for (var i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                      this.classList.toggle("active");
                      var panel = this.nextElementSibling;
                      if (panel.style.display === "block") {
                        panel.style.display = "none";
                      } else {
                        panel.style.display = "block";
                      }
                    });
                  }
                });
              </script>
                
            </%block>
        </p>
    </section>
</main>



